# Test Wiki backlinks coverage
We've already collected the backlink counts [here](get_geonames_wiki_backlink_count.py) (stored [here](/hg190/corpora/GeoNames/wiki_backlink_counts.tsv)), so let's see how much of GeoNames is covered by this data.

This will help us determine if we need to extend the coverage to smaller toponyms (e.g. streets) with a back-off strategy: e.g. get the backlinks for a toponym's containing city, state, country, etc.

In [2]:
import pandas as pd
from data_helpers import load_simplified_geonames_data, load_geocorpora_data

## Load data

In [74]:
backlinks_data = pd.read_csv('/hg190/corpora/GeoNames/wiki_backlink_counts.tsv', sep='\t', index_col=False, encoding='utf-8')
geonames_data = load_simplified_geonames_data()

In [75]:
geonames_data.head()

,geonames_ID,name,alternate_names,latitude,longitude,feature_class,feature_code,population,alternate_name_count
0,2986043,Pic de Font Blanca,"Pic de Font Blanca,Pic du Port",42.64991,1.53335,T,PK,0,2
1,2994701,Roc Mélé,"Roc Mele,Roc Meler,Roc Mélé",42.58765,1.74028,T,MT,0,3
2,3007683,Pic des Langounelles,Pic des Langounelles,42.61203,1.47364,T,PK,0,1
3,3017832,Pic de les Abelletes,"Pic de la Font-Negre,Pic de la Font-Nègre,Pic ...",42.52535,1.73343,T,PK,0,3
4,3017833,Estany de les Abelletes,"Estany de les Abelletes,Etang de Font-Negre,Ét...",42.52915,1.73362,H,LK,0,3

In [76]:
# merge with geonames data
geonames_data = pd.merge(geonames_data, backlinks_data.loc[:, ['backlink_count', 'geoname_ID']], 
                         left_on='geonames_ID', right_on='geoname_ID', how='outer')
geonames_data.drop('geoname_ID', axis=1, inplace=True)
geonames_data.head()

,geonames_ID,name,alternate_names,latitude,longitude,feature_class,feature_code,population,alternate_name_count,backlink_count
0,2986043.0,Pic de Font Blanca,"Pic de Font Blanca,Pic du Port",42.64991,1.53335,T,PK,0.0,2.0,NaN
1,2994701.0,Roc Mélé,"Roc Mele,Roc Meler,Roc Mélé",42.58765,1.74028,T,MT,0.0,3.0,NaN
2,3007683.0,Pic des Langounelles,Pic des Langounelles,42.61203,1.47364,T,PK,0.0,1.0,NaN
3,3017832.0,Pic de les Abelletes,"Pic de la Font-Negre,Pic de la Font-Nègre,Pic ...",42.52535,1.73343,T,PK,0.0,3.0,NaN
4,3017833.0,Estany de les Abelletes,"Estany de les Abelletes,Etang de Font-Negre,Ét...",42.52915,1.73362,H,LK,0.0,3.0,NaN

In [77]:
geonames_data.loc[:, 'geonames_ID'] = geonames_data.loc[:, 'geonames_ID'].fillna(0, inplace=False).astype(int)

In [78]:
# replace nans
geonames_data.loc[:, 'backlink_count'] = geonames_data.loc[:, 'backlink_count'].fillna(-1, inplace=False)

In [79]:
print('%d/%d GeoNames entries have Wiki data'%
      (geonames_data[geonames_data.loc[:, 'backlink_count'] >= 0].shape[0], geonames_data.shape[0]))

525329/11686810 GeoNames entries have Wiki data

So it looks like 5% of all the Geonames entries have Wiki data, which seems extremely sparse.

We will need to extend the counts.

What kinds of entries do not have Wiki data?

In [80]:
print('blah')

blah

In [81]:
geonames_data.shape

(11686810, 10)

In [83]:
pd.np.random.seed(123)
non_wiki_data = geonames_data[geonames_data.loc[:, 'backlink_count'] == -1]
# shuffle data
non_wiki_data = non_wiki_data.loc[pd.np.random.choice(non_wiki_data.index, size=non_wiki_data.shape[0], replace=False), :]
non_wiki_data.head(100)

,geonames_ID,name,alternate_names,latitude,longitude,feature_class,feature_code,population,alternate_name_count,backlink_count
1459317,1555591,Tianqiao,NaN,30.61667,116.06667,P,PPL,0.0,1.0,-1.0
7495944,1334926,Mirza Hill,NaN,34.10899,71.14543,T,HLL,0.0,1.0,-1.0
4071142,10603180,Bargāon,NaN,27.49393,82.67275,P,PPL,0.0,1.0,-1.0
7639191,11095983,Shambaliak Jhal,NaN,28.08794,66.79847,H,STMI,0.0,1.0,-1.0
10980560,7154846,Dillon County Fire Department Station 1,"Dillon County Fire Department,Dillon County Fi...",34.41260,-79.37802,S,BLDG,0.0,2.0,-1.0
8188035,8059397,Maloyuz,"Malojuz,Maloyuz,Малоюз",55.06330,57.58450,H,STM,0.0,3.0,-1.0
11113686,7644832,Holiday Inn Express Ft. Lauderdale Airport / C...,NaN,26.09116,-80.15644,S,HTL,0.0,1.0,-1.0
11244183,9847280,Best Western Bayfront Inn,NaN,29.89541,-81.31136,S,HTL,0.0,1.0,-1.0
1261732,235820,Zigbo,NaN,4.82907,22.99818,H,STM,0.0,1.0,-1.0
566461,3294256,Bugojuše,NaN,45.07222,18.37806,P,PPL,0.0,1.0,-1.0
5283677,1237511,Mabulgoda,NaN,6.82660,79.97500,P,PPL,0.0,1.0,-1.0
1851503,9901038,Hengtang,"Hengtang,heng tang,横塘",22.00030,109.64000,P,PPL,0.0,3.0,-1.0
1903350,9999567,Zhuanzhilian,"Zhuanzhilian,zhuan zhi lian,转枝莲",40.90978,115.37877,P,PPL,0.0,3.0,-1.0
395571,8193768,Waterloo Bay,Waterloo Bay,-43.19828,146.98916,H,BAY,0.0,1.0,-1.0
5179622,1483717,Gora Beskesik,NaN,47.45694,65.91389,T,HLL,0.0,1.0,-1.0
2383871,2823194,Thal,NaN,47.58776,10.60224,P,PPL,0.0,1.0,-1.0
7205053,6230261,Teheoriri,NaN,-35.02818,173.83018,T,HLL,0.0,1.0,-1.0
1388039,3871072,Sección Lazo,"Lazo,Seccion Lazo,Sección Lazo",-51.12025,-72.81588,P,PPL,0.0,3.0,-1.0
11297872,11778219,South Beacon Hill,NaN,47.52712,-122.28984,P,PPLX,0.0,1.0,-1.0
1148101,6148851,Skiakl Point,NaN,54.11645,-130.75177,T,PT,0.0,1.0,-1.0
9474739,4456241,Blackwoods Lake,NaN,35.93848,-79.12140,H,RSV,0.0,1.0,-1.0
11326844,3627788,Hato San Pedro,NaN,8.40605,-66.89951,S,FRM,0.0,1.0,-1.0
2872127,661997,Alho,NaN,63.05011,22.16508,S,HSE,0.0,1.0,-1.0
11085435,7264976,Interchange 343,NaN,30.28880,-81.98305,R,RDJCT,0.0,1.0,-1.0
9566132,4548021,Pine Creek,NaN,34.30842,-97.70447,H,STM,0.0,1.0,-1.0
7612988,7505143,Goth Chaudhry Yūsuf,"Chaudhri Yousaf,Goth Chaudhry Yusuf,Goth Chaud...",25.69623,68.70394,P,PPL,0.0,3.0,-1.0
3388513,1626239,Pematang Sulah,"Pematang Soelah,Pematang Sulah,Pematang Sulan",-5.31091,104.49257,T,MT,0.0,3.0,-1.0
431011,8793227,Cooeeville,Cooeeville,-27.86350,151.31233,S,HMSD,0.0,1.0,-1.0
4218245,10786069,Kotta Kunkām,NaN,18.30625,83.71947,P,PPL,0.0,1.0,-1.0
102939,11110538,Hin,"Hin,Հին",40.09729,44.28332,S,CMTY,0.0,2.0,-1.0
...,...,...,...,...,...,...,...,...,...,...
8078212,2116020,Klyuch Kultuchnyy,"Kljuch Kultuchnyj,Klyuch Kultuchnyy,Ключ Култу...",56.52917,163.09583,H,STM,0.0,3.0,-1.0
3278480,11486787,Panaxit Segundo,Panaxit Segundo,15.04285,-91.20579,P,PPL,0.0,1.0,-1.0
319899,2142876,Wowingragong,NaN,-33.43333,147.91667,P,PPL,0.0,1.0,-1.0
5717431,934681,River Boucan,"Bougan,River Boucan,Riviere du Bougan,Rivière ...",-20.32417,57.37333,H,STM,0.0,4.0,-1.0
3669860,7610610,Malapedo A,Malapedo A,-8.91640,120.91280,P,PPL,0.0,1.0,-1.0
160214,7858819,Mbuale,NaN,-11.43669,16.91008,H,STMI,0.0,1.0,-1.0
7514430,1357503,Lang,NaN,27.50531,68.05688,L,AREA,0.0,1.0,-1.0
1456940,1553212,Qinggangcun,"Qinggang,Qinggangcun,qing gang cun,青岗村",31.94882,117.83487,P,PPL,0.0,4.0,-1.0
10084511,5077321,Saint Pauls Lutheran Church,NaN,40.90612,-98.35340,S,CH,0.0,1.0,-1.0
1264425,238527,Kada,NaN,5.76667,20.56667,H,STM,0.0,1.0,-1.0
2783174,6357101,Alcolea de Calatrava,NaN,38.97402,-4.10811,A,ADM3,1593.0,1.0,-1.0
5893317,8784459,Arroyo el Junco,Arroyo el Junco,24.72246,-101.48703,H,STMI,0.0,1.0,-1.0
1759946,8517101,Luozhen,"Luozhen,luo zhen,锣针",30.30762,109.32511,P,PPL,0.0,3.0,-1.0
11551423,963560,Quarie Kloof,NaN,-33.28491,20.18127,S,FRM,0.0,1.0,-1.0
7923958,523965,Stantsiya Myansel’ga,"Maentselkae,Mäntselkä,Stantsiya Myansel'ga,Sta...",62.25976,34.45025,S,RSTN,0.0,4.0,-1.0
7402529,1698272,Nangka,Nangka,8.59222,124.79500,P,PPL,0.0,1.0,-1.0
11530978,943103,Vogelstruisfontein,NaN,-25.28333,27.56667,S,FRM,0.0,1.0,-1.0
5094705,6684559,Dongmakdong,"Dongmakdong,Tongmak-kol,dongmagdong,dongmaggol...",34.74365,127.12570,P,PPL,0.0,6.0,-1.0
4409640,11660784,Vellavāypudūr,NaN,10.74927,77.67399,P,PPL,0.0,1.0,-1.0
10611437,5606136,Sage Creek School,NaN,44.45488,-116.76433,S,SCH,0.0,1.0,-1.0
10781853,5777314,Lincoln Junior High School,NaN,40.74189,-111.88716,S,SCH,0.0,1.0,-1.0
5362451,455429,Slutiški,"Slutishki,Slutishti,Slutiski,Slutiški",55.91372,26.88661,P,PPL,0.0,4.0,-1.0
971527,5970215,Hanlan's Point,NaN,43.62451,-79.38650,T,PT,0.0,1.0,-1.0
2321665,3569073,Alto Jutía,NaN,19.98333,-75.36667,L,LCTY,0.0,1.0,-1.0
8146163,7543037,Manayevka,"Manaevka,Manayevka,Манаевка",58.29000,70.69530,H,STM,0.0,3.0,-1.0
4110453,10668602,Bahrāmpur,NaN,26.17283,83.65171,P,PPL,0.0,1.0,-1.0
3848460,7004821,Sujānpurāpāra,NaN,24.81998,79.05537,P,PPL,0.0,1.0,-1.0
208720,3837140,Puerto San Juan del Salvamento,"Puerto San Juan,Puerto San Juan del Salvamento...",-54.73949,-63.85529,H,INLT,0.0,3.0,-1.0
2737463,8384666,Meet Khabbet Khenin,NaN,16.58480,39.09043,H,WAD,0.0,1.0,-1.0
4628524,7416616,Emāmsī,"Emamsi,Emāmsī,amam sy,امام سی",30.71318,48.65066,P,PPL,0.0,4.0,-1.0

Lots of small toponyms!

- `Maloyuz` => stream
- `Best Western Bayfront Inn` => hotel
- `Interchange 343` => highway exit
- `Qinggangcun` => village?
- `Gora Beskesik` => hill

## Extend backlink counts
The original GeoNames data has administrative and country containment, which we can use to extend the backlink counts to smaller entities.

TODO: doing this naive extension still won't help all comparison cases, such as cases where the levels don't match up: e.g., if TOPO_A has both admin4 and admin1 Wiki data but TOPO_B only has admin1...do we weight the levels differently?

In [29]:
col_names = ['geonames_ID', 'country_code', 'cc2', 'admin1', 'admin2', 'admin3', 'admin4']
use_cols = [0, 8, 9, 10, 11, 12, 13]
geonames_admin_data = pd.read_csv('/hg190/corpora/GeoNames/allCountries.zip', sep='\t',
                                  compression='zip', 
                                  header=None, usecols=use_cols, names = col_names, 
                                  index_col=False, encoding='utf-8')
geonames_admin_data.columns = col_names
geonames_admin_data.head()

/hg190/istewart6/crisis_language/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   geonames_ID country_code    cc2 admin1 admin2 admin3 admin4
0      2986043           AD    NaN     00    NaN    NaN    NaN
1      2994701           AD  AD,FR     00    NaN    NaN    NaN
2      3007683           AD  AD,FR     00    NaN    NaN    NaN
3      3017832           AD     FR     A9     66    663  66146
4      3017833           AD     FR     A9    NaN    NaN    NaN

In [49]:
# join with names so we have an idea of what we're doing
geonames_admin_data = pd.merge(geonames_admin_data, geonames_data.loc[:, ['geonames_ID', 'name']], 
                               on='geonames_ID', how='inner')
geonames_admin_data.head(50)

,geonames_ID,country_code,cc2,admin1,admin2,admin3,admin4,name
0,2986043,AD,NaN,00,NaN,NaN,NaN,Pic de Font Blanca
1,2994701,AD,"AD,FR",00,NaN,NaN,NaN,Roc Mélé
2,3007683,AD,"AD,FR",00,NaN,NaN,NaN,Pic des Langounelles
3,3017832,AD,FR,A9,66,663,66146,Pic de les Abelletes
4,3017833,AD,FR,A9,NaN,NaN,NaN,Estany de les Abelletes
5,3023203,AD,NaN,00,NaN,NaN,NaN,Port Vieux de la Coume d’Ose
6,3029315,AD,"AD,FR",B3,09,91,9139,Port de la Cabanette
7,3034945,AD,NaN,00,NaN,NaN,NaN,Port Dret
8,3038814,AD,NaN,07,NaN,NaN,NaN,Costa de Xurius
9,3038815,AD,NaN,04,NaN,NaN,NaN,Font de la Xona
10,3038816,AD,NaN,04,NaN,NaN,NaN,Xixerella
11,3038818,AD,NaN,02,NaN,NaN,NaN,Riu Xic
12,3038819,AD,NaN,08,NaN,NaN,NaN,Pas del Xic
13,3038820,AD,NaN,04,NaN,NaN,NaN,Roc del Xeig
14,3038821,AD,NaN,04,NaN,NaN,NaN,Collada del Xeig
15,3038822,AD,NaN,08,NaN,NaN,NaN,Fonts Vives
16,3038823,AD,NaN,07,NaN,NaN,NaN,Roc de Vista
17,3038824,AD,NaN,06,NaN,NaN,NaN,Obaga de Vista
18,3038825,AD,NaN,06,NaN,NaN,NaN,Coll de Vista
19,3038826,AD,"AD,ES",00,NaN,NaN,NaN,Coll de Vista
20,3038827,AD,NaN,02,NaN,NaN,NaN,Visanseny
21,3038828,AD,NaN,03,NaN,NaN,NaN,Roc de la Vinya
22,3038829,AD,NaN,04,NaN,NaN,NaN,Canal de la Vinya
23,3038830,AD,NaN,05,NaN,NaN,NaN,Bosc de Villar
24,3038831,AD,NaN,03,NaN,NaN,NaN,Torrent de Vila
25,3038832,AD,NaN,03,NaN,NaN,NaN,Vila
26,3038833,AD,NaN,06,NaN,NaN,NaN,Basers de Vicenç
27,3038834,AD,NaN,02,NaN,NaN,NaN,Pla de Viàs
28,3038835,AD,NaN,04,NaN,NaN,NaN,Vial del Cardaire
29,3038836,AD,NaN,04,NaN,NaN,NaN,Font del Vi
30,3038837,AD,NaN,05,NaN,NaN,NaN,Font Verda
31,3038838,AD,NaN,08,NaN,NaN,NaN,Costa Verda
32,3038839,AD,NaN,08,NaN,NaN,NaN,Costa Verda
33,3038840,AD,NaN,06,NaN,NaN,NaN,Serrat de Ventader
34,3038841,AD,NaN,05,NaN,NaN,NaN,Bony de Vellatocina
35,3038842,AD,NaN,03,NaN,NaN,NaN,Pleta Vella
36,3038843,AD,NaN,06,NaN,NaN,NaN,Solà Vell
37,3038844,AD,NaN,00,NaN,NaN,NaN,Port Vell
38,3038845,AD,ES,00,NaN,NaN,NaN,Port Negre del Pallars
39,3038846,AD,NaN,04,NaN,NaN,NaN,Bancal Vedeller
40,3038847,AD,NaN,04,NaN,NaN,NaN,Vedat del Xeig
41,3038848,AD,NaN,04,NaN,NaN,NaN,Vedat dels Plans
42,3038849,AD,NaN,04,NaN,NaN,NaN,Vedat de Coll de les Cases
43,3038850,AD,NaN,06,NaN,NaN,NaN,Serra del Vedat
44,3038851,AD,NaN,04,NaN,NaN,NaN,Planades del Vedat
45,3038852,AD,NaN,05,NaN,NaN,NaN,Veda de Sorteny
46,3038853,AD,NaN,05,NaN,NaN,NaN,Veda del Castellar
47,3038854,AD,NaN,04,NaN,NaN,NaN,Canal de les Veces
48,3038855,AD,NaN,05,NaN,NaN,NaN,Coma de Varilles
49,3038856,AD,NaN,00,NaN,NaN,NaN,Portella de les Vaques

In [52]:
geonames_admin_data.iloc[10000:10050, :]

,geonames_ID,country_code,cc2,admin1,admin2,admin3,admin4,name
10000,1121064,AF,NaN,26,NaN,NaN,NaN,Zamch Āb
10001,1121065,AF,NaN,09,NaN,NaN,NaN,Darah-ye Zambūr Khān
10002,1121066,AF,NaN,09,NaN,NaN,NaN,Zanbūr Khān
10003,1121067,AF,NaN,41,NaN,NaN,NaN,Zanbūrkhū
10004,1121068,AF,NaN,39,NaN,NaN,NaN,Zambūray
10005,1121069,AF,NaN,26,NaN,NaN,NaN,Zanbūrak
10006,1121070,AF,NaN,10,NaN,NaN,NaN,Zamboli
10007,1121071,AF,NaN,30,NaN,NaN,NaN,Zambukan
10008,1121072,AF,NaN,11,NaN,NaN,NaN,Zamīn Kaj
10009,1121073,AF,NaN,37,NaN,NaN,NaN,Zambar
10010,1121074,AF,NaN,06,NaN,NaN,NaN,Kōh-e Zamzam
10011,1121075,AF,NaN,23,NaN,NaN,NaN,Zamān Nāwêr
10012,1121076,AF,NaN,10,NaN,NaN,NaN,Zamān Māndêh
10013,1121077,AF,NaN,03,NaN,NaN,NaN,Zamān Khēl
10014,1121078,AF,NaN,17,NaN,NaN,NaN,Zamān Khēl
10015,1121079,AF,NaN,10,NaN,NaN,NaN,Zamān Khān Kêlay
10016,1121080,AF,NaN,11,NaN,NaN,NaN,Zamānābād
10017,1121081,AF,NaN,02,NaN,NaN,NaN,Zamān
10018,1121082,AF,NaN,06,NaN,NaN,NaN,Zamakī
10019,1121083,AF,NaN,29,NaN,NaN,NaN,Rōd-e Zāmah
10020,1121084,AF,NaN,02,NaN,NaN,NaN,Zalūk
10021,1121085,AF,NaN,28,NaN,NaN,NaN,Zhalêy
10022,1121086,AF,NaN,06,NaN,NaN,NaN,Zalimi
10023,1121087,AF,NaN,09,NaN,NaN,NaN,Zalargak
10024,1121088,AF,NaN,29,NaN,NaN,NaN,Zalakhān
10025,1121089,AF,NaN,23,NaN,NaN,NaN,Zalah Khān
10026,1121090,AF,NaN,40,NaN,NaN,NaN,Darah-ye Zalakān
10027,1121091,AF,NaN,28,NaN,NaN,NaN,Zālah Kalā
10028,1121092,AF,NaN,11,NaN,NaN,NaN,Zālah
10029,1121093,AF,NaN,28,NaN,NaN,NaN,Zakūzī
10030,1121094,AF,NaN,08,NaN,NaN,NaN,Zakuri
10031,1121095,AF,NaN,24,NaN,NaN,NaN,Zā Khēl
10032,1121096,AF,NaN,24,NaN,NaN,NaN,Zā Khēl
10033,1121097,AF,NaN,17,NaN,NaN,NaN,Zā Khēl
10034,1121098,AF,NaN,18,NaN,NaN,NaN,Zā Khēl
10035,1121099,AF,NaN,09,NaN,NaN,NaN,Tangī-ye Zākhān
10036,1121100,AF,NaN,09,NaN,NaN,NaN,Zākhān
10037,1121101,AF,NaN,23,NaN,NaN,NaN,Zākir-e Sharīf
10038,1121102,AF,NaN,27,NaN,NaN,NaN,Darah-ye Zākir
10039,1121103,AF,NaN,11,NaN,NaN,NaN,Zākaynī
10040,1121104,AF,NaN,37,NaN,NaN,NaN,Z̄akar Khēl
10041,1121105,AF,NaN,08,NaN,NaN,NaN,Z̄akar
10042,1121106,AF,NaN,02,NaN,NaN,NaN,Zākak-e Suflá
10043,1121107,AF,NaN,02,NaN,NaN,NaN,Zākak-e ‘Ulyā
10044,1121108,AF,NaN,31,NaN,NaN,NaN,Z̄akah
10045,1121109,AF,NaN,32,NaN,NaN,NaN,Zaī Ghulaq
10046,1121110,AF,NaN,06,NaN,NaN,NaN,Kōh-e Zahīrah
10047,1121111,AF,NaN,23,NaN,NaN,NaN,Nahr-e Z̧āhirshāhī
10048,1121112,AF,NaN,28,NaN,NaN,NaN,Z̧āhir Khūnē
10049,1121113,AF,NaN,24,NaN,NaN,NaN,Zāhid

Notes:

- `00` as the admin1 region means that it cannot be resolved to an administrative region.
- `NaN` as the cc2 code means that there is no dispute over country? Not sure.

First: collect the backlink count for all available admin regions.

In [58]:
# country
country_data_cols = ['ISO', 'Population', 'geonameid']
country_data = pd.read_csv('/hg190/corpora/GeoNames/countryInfo.txt', sep='\t', comment='#', usecols=country_data_cols)
# admin 1
admin_1_data_cols = [0, 3]
admin_1_data_col_names = ['country.admin1', 'geonames_ID']
admin_1_data = pd.read_csv('/hg190/corpora/GeoNames/admin1CodesASCII.txt', sep='\t', 
                          header=None, usecols=admin_1_data_cols, names=admin_1_data_col_names)
# admin 2
admin_2_data_cols = [0, 3]
admin_2_data_col_names = ['country.admin2.geonames_ID', 'geonames_ID']
admin_2_data = pd.read_csv('/hg190/corpora/GeoNames/admin2Codes.txt', sep='\t', 
                           header=None, usecols=admin_2_data_cols, names=admin_2_data_col_names)
# admin 3

# admin 4

In [61]:
admin_1_data.head(20)

   country.admin1  geonames_ID
0           AD.06      3039162
1           AD.05      3039676
2           AD.04      3040131
3           AD.03      3040684
4           AD.02      3041203
5           AD.07      3041566
6           AD.08      3338529
7           AE.07       290595
8           AE.05       291075
9           AE.03       292224
10          AE.06       292673
11          AE.04       292879
12          AE.02       292933
13          AE.01       292969
14          AF.28      1121143
15          AF.27      1121863
16          AF.26      1123230
17          AF.33      1127106
18          AF.32      1127766
19          AF.40      1131054

In [63]:
test_country_admin1 = 'AF.01'
print(admin_1_data[admin_1_data.loc[:, 'country.admin1'] == test_country_admin1])

   country.admin1  geonames_ID
43          AF.01      1147745

In [65]:
admin_2_data.head(1000).tail(100)

    country.admin2.geonames_ID  geonames_ID
900                AR.05.14147      3836128
901                AR.02.10091      3836129
902                AR.18.70098      3836188
903                AR.10.38077      3836444
904                AR.10.38070      3836473
905                AR.23.94007      3836551
906                AR.13.50105      3836668
907                AR.10.38063      3836752
908                AR.01.06763      3836848
909                AR.13.50098      3836982
910                AR.19.74063      3836983
911                AR.21.82126      3836984
912                AR.18.70091      3836985
913                AR.22.86175      3836986
914                AR.03.22147      3837081
915                AR.21.82119      3837090
916                AR.05.14140      3837121
917                AR.21.82112      3837122
918                AR.21.82105      3837460
919                AR.05.14133      3837475
920                AR.21.82091      3837821
921                AR.13.50091      3837885
922                AR.17.66154      3837886
923                AR.12.46119      3837918
924                AR.16.62077      3838028
925                AR.10.38056      3838029
926                AR.05.14126      3838154
927                AR.12.46126      3838186
928                AR.01.06714      3838222
929                AR.01.06721      3838240
..                         ...          ...
970                AR.15.58098      3841298
971                AR.15.58105      3841303
972                AR.16.62063      3841356
973                AR.01.06623      3841488
974                AR.01.06616      3841610
975                AR.22.86133      3841612
976                AR.15.58091      3841673
977                AR.01.06609      3841678
978                AR.01.06602      3841799
979                AR.04.26070      3841892
980                AR.02.10077      3842418
981                AR.17.66126      3842606
982                AR.01.06595      3842669
983                AR.22.86126      3842719
984                AR.03.22112      3842751
985                AR.01.06588      3842871
986                AR.03.22105      3842872
987                AR.16.62049      3842875
988                AR.18.70063      3842876
989                AR.21.82077      3842877
990                AR.16.62056      3842988
991                AR.15.58084      3842991
992                AR.22.86119      3843684
993                AR.24.90070      3843802
994                AR.17.66119      3843991
995                AR.22.86112      3844110
996                AR.15.58077      3844208
997                AR.05.14070      3844209
998                AR.17.66112      3844297
999                AR.03.22098      3844638

[100 rows x 2 columns]

In [ ]:
# ordered admin columns from smallest => largest
ORDERED_ADMINS = ['admin4', 'admin3', 'admin2', 'admin1']
def expand_data(geo_id, admin_data):
    """
    For a given ID without data,
    we assign it data by starting at the
    lowest-possible administration region and backing
    off until we get a hit.
    """
    g_data = admin_data[admin_data.loc[:, 'geonames_ID'] == geo_id].iloc[0, :]